# Environments
.venv/
.uv-cache/
__pycache__/
*.pyc

# Build and coverage
build/
dist/
*.egg-info/
.coverage
coverage.xml
htmlcov/

# IDEs
.vscode/
.idea/
*.swp

# Artifacts
*.log
.DS_Store

# Adding to avoid thrashing during development
parsetab.py

# temp dev files
.output.txt
tests.txt
textindex-docs.txt
textindex_ply_HEAD.zip
